---
import Banner from '../../components/Banner.astro'
import TwoColumns from '../../components/TwoColumns.astro'
import EngagementBlock from '../../components/EngagementBlock.astro'
import FeaturedPosts from '../../components/FeaturedPosts.astro'
import PostContent from '../../components/PostContent.astro'
import Header from '../../components/Header.astro'

import '../../assets/css/global.css';

interface PostProps {
  postTitle: string;
  postContent: string;
}
const { postTitle, postContent } = Astro.props as PostProps;

export function getStaticPaths() {
  return [
    {params: {post: 'get-online-week'}},
    {params: {post: 'learn-my-way'}},
    {params: {post: 'make-it-click'}},
    {params: {post: 'digital-you'}},
  ];
}

const { post } = Astro.params;

---
<Header/>
<main class="section">
  <Banner
    bgImage="/banner-bg-image.png"
    title="Get online week 2021"
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    buttonText="Get Involved Now!"
  />
  <PostContent
     postTitle={post}
     postContent={postContent}
  />
  <FeaturedPosts
    title="What do we do?"
    subtitle="You might not have heard of us, but we're the people behind the following impactful programmes"
    posts={[
      { id: 1, title: 'Get online week', excerpt: 'Lorem ipsum dolor sit amet', url: 'get-online-week'},
      { id: 2, title: 'Learn my way', excerpt: 'Lorem ipsum dolor sit amet', url: 'learn-my-way' },
      { id: 3, title: 'Make it click', excerpt: 'Lorem ipsum dolor sit amet', url: 'make-it-click' },
      { id: 4, title: 'Digital you', excerpt: 'Lorem ipsum dolor sit amet', url: 'digital-you' },
    ]}
    buttonText="More about what we do"
  />
</main>

<style>
 @media only screen and (max-width: 620px) {
    .post-content h2 {
        font-size: 1.5em;
    }
    .post-content p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 480px) {
    .post-content h2 {
        font-size: 1.5em;
    }
    .post-content p {
        font-size: 14px;
    }
}
</style>