---
import Banner from '../../components/Banner.astro'
import TwoColumns from '../../components/TwoColumns.astro'
import EngagementBlock from '../../components/EngagementBlock.astro'
import FeaturedPosts from '../../components/FeaturedPosts.astro'
import PostContent from '../../components/PostContent.astro'
import Header from '../../components/Header.astro'
import posts from '../../data/posts'
import Layout from '../../layouts/Layout.astro';

interface PostProps {
  postTitle: string;
  postContent: string;
}
const { postTitle, postContent } = Astro.props as PostProps;

export function getStaticPaths() {
  return [
    {params: {post: 'get-online-week'}},
    {params: {post: 'learn-my-way'}},
    {params: {post: 'make-it-click'}},
    {params: {post: 'digital-you'}},
  ];
}

const { post } = Astro.params;

---
<Layout title="Good Things Foundation - Astro Build Blog">
  <main class="section">
    <Banner
      bgImage="/banner-bg-image.png"
      title="Get online week 2021"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      buttonText="Get Involved Now!"
    />
    <PostContent
      postTitle={post}
      postContent={postContent}
    />
    <FeaturedPosts
      title="What do we do?"
      subtitle="You might not have heard of us, but we're the people behind the following impactful programmes"
      posts={posts}
      buttonText="More about what we do"
    />
  </main>
</Layout>

<style scoped>
  @import '../../assets/css/post.css';
  /* .banner-bg {
    background-image: url(bgImage);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
</style>