---
import Banner from '../components/Banner.astro'
import TwoColumns from '../components/TwoColumns.astro'
import EngagementBlock from '../components/EngagementBlock.astro'
import FeaturedPosts from '../components/FeaturedPosts.astro'

const dropdownOptions1 = [
  { label: 'an Individual', value: 'individual' },
  { label: 'researcher', value: 'researcher' },
  { label: 'organisation', value: 'communityOrganisation' }
];

const dropdownOptions2 = [
  { label: 'want to learn', value: 'learn' },
  { label: 'want to help', value: 'help' },
  { label: 'donate', value: 'donate' }
];

const posts = [
  { id: 1, title: 'Get online week', excerpt: 'Lorem ipsum dolor sit amet', url: 'get-online-week' },
  { id: 2, title: 'Learn my way', excerpt: 'Lorem ipsum dolor sit amet', url: 'learn-my-way' },
  { id: 3, title: 'Make it click', excerpt: 'Lorem ipsum dolor sit amet', url: 'make-it-click' },
  { id: 4, title: 'Digital you', excerpt: 'Lorem ipsum dolor sit amet', url: 'digital-you' },
]
---

<main class="section">
  <Banner 
    bgImage="banner-bg-image.png"
    title="Get online week 2021"
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    buttonText="Get Involved Now!"
  />
  
  <TwoColumns 
    columnImage="column-bg-image.jpg"
    columnTitle="We are a social change charity, helping people to improve their lives through digital."
    columnContent="We tackle the most pressing issues of our time, working with partners in thousands of communities across the UK and further afield"
    buttonText="Learn more about us"
  />
  
  <EngagementBlock
    title="How can we help you?"
    subtitle="Let us know who you are and what you're looking for, and we'll help get you to the right place."
    fixedText="Your fixed text"
    dropdownOptions1={dropdownOptions1}
    dropdownOptions2={dropdownOptions2}
    buttonText="Start now"
  />

  <FeaturedPosts 
    title="What do we do?"
    subtitle="You might not have heard of us, but we're the people behind the following impactful programmes"
    posts={posts}
    buttonText="More about what we do"
  />
</main>
