---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Home from './Home.astro'; // Import your Home page component

---

<Layout title="">
	<main>
		<Home/>
	</main>
</Layout>

