---
import loremIpsumData from "../data/loremIpsum";

interface PostContentProps {
  postTitle: string;
  postContent: string;
}
const { postTitle, postContent } = Astro.props as PostContentProps;



  const randomIndex = Math.floor(Math.random() * loremIpsumData.length);
  let placeHolderContent = loremIpsumData[randomIndex];
  let formattedTitle = postTitle.replace(/-/g, ' '); 

---

<section class="post-content section section-padding">
  <div class="container">
    <div class="post-container">
      <h2>{formattedTitle}</h2>
      <p>{placeHolderContent}</p>
    </div>
  </div>
</section>

<style scoped>
  @import '../assets/css/post.css';
</style>
